<div class="candidates-layout">
  <mat-card class="upload-card">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="upload-form">
      <h2>Candidate Information</h2>

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="Ej: Ana" />
        @if (uploadForm.controls.name.hasError('required')) {
          <mat-error>Campo obligatorio</mat-error>
        }
        @if (uploadForm.controls.name.hasError('maxlength')) {
          <mat-error>
            Máximo 80 caracteres
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="surname" placeholder="Ej: García" />
        @if (uploadForm.controls.surname.hasError('required')) {
          <mat-error>Campo obligatorio</mat-error>
        }
        @if (uploadForm.controls.surname.hasError('maxlength')) {
          <mat-error>Máximo 80 caracteres</mat-error>
        }
      </mat-form-field>

      <!-- Dropzone -->
      <app-drop-files-zone [control]="uploadForm.controls.file" />

      <button mat-flat-button color="primary" type="submit" [disabled]="isSubmitting()">
        {{ isSubmitting() ? 'Cargando...' : 'Enviar' }}
      </button>

      @if (isSubmitting()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </form>
  </mat-card>

  <app-candidate-table />
</div>
