.candidates-layout {
  display: grid;
  // flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  // width: 100%;
  padding: 0 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.upload-card {
  height: fit-content;
  padding: 1.5rem;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
