:root {
  --mdc-elevated-card-container-color: #697482;
}

.header-layout {
  padding: 2rem;
}

.candidates-layout {
  display: grid;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  padding: 0 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: color-mix(in srgb, var(--foreground, #343C43) 100%, transparent);
  }
  &__subtitle {
    font-size: 1rem;
    color: color-mix(in srgb, var(--foreground, #1f1f1f) 60%, transparent);
  }
}

.upload-card {
  height: fit-content;
  padding: 1.5rem;
  background-color: var(--background-card);
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  &__title {
    color: color-mix(in srgb, var(--foreground, #343C43) 100%, transparent);
  }
}

@media (max-width: 960px) {
  .candidates-layout {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .section {
    width: 100%
  }
  .section-header {
    gap: 0.6rem;

    &__title {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1;
    }

    &__subtitle {
      font-size: 0.8rem;
      color: color-mix(in srgb, var(--foreground, #1f1f1f) 60%, transparent);
    }
  }

  .upload-form {
    &__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1;
    }
  }
}
