<mat-card class="candidate-table-card">

  <div class="body">
    @if (isLoading()) {
    <mat-progress-spinner diameter="32" mode="indeterminate"></mat-progress-spinner>
    }
    @if (hasCandidates()) {
      <table mat-table [dataSource]="candidates()" class="candidate-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'CANDIDATE_TABLE.COLUMNS.NAME' | translate }}</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.name }}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>{{ 'CANDIDATE_TABLE.COLUMNS.SURNAME' | translate }}</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.surname }}</td>
        </ng-container>

        <ng-container matColumnDef="seniority">
          <th mat-header-cell *matHeaderCellDef>{{ 'CANDIDATE_TABLE.COLUMNS.SENIORITY' | translate }}</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.seniority | titlecase }}</td>
        </ng-container>

        <ng-container matColumnDef="years">
          <th mat-header-cell *matHeaderCellDef>{{ 'CANDIDATE_TABLE.COLUMNS.YEARS' | translate }}</th>
          <td mat-cell *matCellDef="let candidate">{{ candidate.years }}</td>
        </ng-container>

        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef>{{ 'CANDIDATE_TABLE.COLUMNS.AVAILABILITY' | translate }}</th>
          <td mat-cell *matCellDef="let candidate">
            {{
              candidate.availability
                ? ('CANDIDATE_TABLE.AVAILABILITY.TRUE' | translate)
                : ('CANDIDATE_TABLE.AVAILABILITY.FALSE' | translate)
            }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    } @else {
      <div class="empty-state">
        @if (isLoading()) {
          <p>{{ 'CANDIDATE_TABLE.LOADING' | translate }}</p>
        } @else {
          <p>{{ 'CANDIDATE_TABLE.EMPTY' | translate }}</p>
        }
      </div>
    }
  </div>
</mat-card>
