.candidate-table-card {
  padding: 1.5rem;
  position: relative;
  width: 100%;
  min-height: 29rem;
}

.candidate-table {
  width: 100%;
}

.empty-state {
  margin: 1rem 0;
  color: #666;
  font-style: italic;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  overflow:auto;
}
